<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    @RenderSection("Styles",false) <!-- buda mesela contact.css bu css linkinin olmasını isterız o -->
    <title>Document</title>
</head>
<body>
    <header>
    @await Html.PartialAsync("_Navbar") <!-- html helper partial view tag helperlada yapılabilir-->
    @RenderSection("Header",false) <!-- false yaptık her sayfada olması zorunlu değil yanı yoksa her safaya belirtmek gerekir yoksa hata alırsın-->
    </header>
    <div class="container mt-3">
        <main>
       @RenderBody()
        </main>
    </div>
 

</body>
</html> 